RewriteEngine On

#ErrorDocument 404 index.html

#Options +FollowSymLinks

#RewriteRule ^(.*)$ http://www.vegaasen.com/snekkeri/$1 [P]
#ProxyPassReverse / http://www.vegaasen.com/snekkeri/

#ProxyPass / http://www.vegaasen.com/snekkeri/
#ProxyPassReverse / http://www.vegaasen.com/snekkeri/